{{#> ./page.hbs}}

<style>
  :root {
    --color-primary-500: #eb004e;
    --color-secondary-500: #8a0000;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-secondary-500: #FAD4E1;
      --color-quaternary-100: #2F000F;
      --color-quaternary-200: #57001B;
      --color-quaternary-500: #fff;
      --color-base: #130006;
    }
  }
</style>

<h1>
  <strong>Whoops</strong>, sorry</h1>

<p>
  We were
  <strong>unable to find</strong> your
  <span class="app__noWrap">
    page
    <span class="app__fullStop">.</span>
  </span>
</p>

{{/ ./page.hbs}}