{{#> ./page.hbs}}

<style>
  :root {
    --color-primary-500: #f44336;
    --color-secondary-500: #891008;
  }
</style>

<h1>
  <strong>Whoops</strong>, sorry</h1>

<p>
  We were
  <strong>unable to find</strong> your
  <span class="app__noWrap">
    page
    <span class="app__fullStop">.</span>
  </span>
</p>

{{/ ./page.hbs}}