<footer>
  <ul class="app__list--plain app__list--contact">
    <li>
      <a class="app__link--contact" href="http://codepen.io/DevonChurch/">
        <svg aria-hidden="true" focusable="false">
          <use xlink:href="#codepen"></use>
        </svg>
        <span>Codepen</span>
      </a>
    </li>
    <li>
      <a class="app__link--contact" href="https://github.com/devonChurch">
        <svg aria-hidden="true" focusable="false">
          <use xlink:href="#github"></use>
        </svg>
        <span>Github</span>
      </a>
    </li>
    <li>
      <a class="app__link--contact" href="https://nz.linkedin.com/in/devon-church-655630108">
        <svg aria-hidden="true" focusable="false">
          <use xlink:href="#linkedin"></use>
        </svg>
        <span>LinkedIn</span>
      </a>
    </li>
  </ul>
</footer>