{{#> ./page.hbs}}

<h1>
  <strong>Devon</strong> Church</h1>

<p>
  A <strong class="app__noWrap">Software Engineer</strong> <br />living in
  <strong class="app__noWrap">New Zealand</strong> <span class="app__fullStop">.</span>
</p>

{{/ ./page.hbs}}