{{#> ./page.hbs}}

<h1>
  <strong>Devon</strong> Church</h1>

<p>
  <strong>Developer</strong> in
  <strong class="app__noWrap">New Zealand</strong>
  <br /> working at
  <span class="app__noWrap">
    <a href="https://www.xero.com/">Xero</a>
    <span class="app__fullStop">.</span>
  </span>
</p>

{{/ ./page.hbs}}